@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  background: linear-gradient(to bottom, #bae6fd, #e0f2fe);
  touch-action: manipulation;
}
